body {
    font-size: 0;
}

img {
    display: inline-block;
    width: 50%;
    height: 100vh;
}

div {
    display: inline-block;
    width: 50%;
    height: 100vh;
}

h1, p, input, svg, button, textarea {
    margin: 0 0 20px 20px;
    font-weight: bold;
    display: block;
    width: 60%;
}

h1 {
    font-size: 48px;
   font-family: 'roboto';
   font-weight: 700 bold;
}

svg {
    height: 80px;
    width: 80px;
    fill: rgb(134, 179, 67);
    margin: 0 20px;
}

input {
    padding: 10px;
    border: solid 2px;
    border-color: rgb(122, 122, 122, 0.3);
}

button {
    padding: 10px 0;
    font-size: 14px;
    background-color: rgb(134, 179, 67);
    color: white;
    border: none;
    border-radius: 3px;
    border-bottom: solid 2px rgb(77, 104, 36);
}

h1, input, button {
    text-transform: capitalize;
}

textarea {
    border: none;
    color: grey;
    opacity: 40%;
    font-weight: 500;
}

p {
    font-size: 14px;
    color: grey;
    opacity: 90%;
    font-weight: 500;
}
