* {
    box-sizing: border-box;
}

body{
    font-size: 0;
    background-image: url(table.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    margin-top: 50px;
}
body::before {
    content: ' ';
    background-color: black;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0.45;
    z-index: -1;
}

h1, p {
    width: 80%;
    font-family: roboto;
    color: white;
}

h1 {
    font-weight: bold;
    font-size: 48px;
    margin-top: 50px;
    margin-bottom: 25px;
}

p {
    font-size: 16px;
    font-weight: 100;
    line-height: 1.5;
    opacity: 0.8;
}

.left {
    padding-left: 10%;
    width: 60%;
    display: inline-block;
}

.right {
    position: absolute;
    width: 40%;
    display: inline-block;
}

input, button {
    border: black 1px solid;
    border-radius: 4px;
    margin: 10px;
    padding: 10px;
    text-transform: capitalize;
    width: 60%;
}

button {
    background-color: darkorange;
    color: white;
    font-weight: bold;
}
textarea {
    background: none;
    border: none;
    padding: 10px;
}

.message {
    border: black 1px solid;
    border-radius: 4px;
    margin: 10px;
    padding: 10px;
    text-transform: capitalize;
    width: 60%;
    background-color: white;
    color: rgba(0, 0, 0, 0.6);    
}

.message::placeholder {
    columns: 20;
    size: 120px;
}