.card {

    background-color: whitesmoke;
    position: relative;

    &__picture {
        height: 400px;
        width: 400px;
        display: inline-block;
    }

    &__content {

        width: 400px;
        height: 400px;
        display: inline-block;
    }


}