.card {

    background-color: whitesmoke;
    
    &__picture {
        width: 500px;
        height: 500px;
        display: inline-block;
       
    }

    &__content {
        width: 600px;
        height: 600px;
        display: inline-block;
       }


}