.card {
    display: block;
    background-color: whitesmoke;
    width: 100%;
  
    &__picture {
        width: 40vw;
        height: 100vh;
        display: inline-block;
        background-image: url("picture.JPG");
    }

    
    

}

